#navbardiv{
    position:relative;
    width: 100%;

}
#navbar-logo .navbar-brand{
    margin-left: 5%;
    color: aliceblue;
    font-size: 3rem;
}
#nav-link .nav-link{
   display: block;
   margin-left: 12%;
   font-size: 1.5rem;

}

#img-brand{
    width: 70px;
    height: auto;
    margin-bottom: 10px;
    margin-left: 20px;
}
#navbar-wsp{
    
    
}
#navbar-btn{
    background-color:transparent;
    border-color: transparent;
    font-size: 2.5rem;
    margin-right: 7%;
  
}
#basic-navbar-nav{
   width: 100%;
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  #img-brand {
    animation: pulse 2s infinite;
  }
  